@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
.login-page{
    background-color: #6f98c4;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card{
    height: 250px;
    width: 350px;
    border: 1px solid black; 
    padding: 15px;
    border-radius: 22px;
    border-width: 0px;
    box-shadow: 0px 0px 17px 1px #072a4f;
}
.login-head{
    font-family: "Merriweather", serif;

}
.req-name{
    font-weight: bold;
}
#Username{
    margin-left: 10px;
    border-radius: 4px;
    border-top-width: 1px;
    border-left-width: 1px;
}
#Password{
    margin-left: 15px;
    border-radius: 4px;
    border-top-width: 1px;
    border-left-width: 1px;
}
.login-button{
    margin-top: 5px;
    text-align: center;
}
#login-btn{
    width: 5em;
    height: 2em;
    font-family: 'Roboto';
    font-size: 18px;
    background-color: #bbddf0;
    border-width: 1px;
    border-radius: 6px;
}
#login-btn:hover{
    font-size: 19px;
    background-color: #9bbfe8;
}
.register{
    text-align: center;
}
.register:hover{
    cursor: pointer;
    text-decoration: none;
}