@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    background-color: #fcf0a4;
    height: 100vh;
}
.header{
    background-color: #fcdf35;
    margin: 0px;
}
.heading{
    font-family: "PT Serif", serif;
}
.detailData{
    font-size: 18px;
    margin-right: 15px;

}
.detailValue{
    font-size: 18px;
    color: rgb(51, 48, 48);
}
.dataContainer{
    height: 20px;
}

.table-head {
    font-size: 18px;
    color: red;
}
#course{
    display: flex;
    flex-direction: row;
    justify-content: center;
}